body {
  font-family: "Open Sans", sans-serif;
  background-image: url(../images/pattern-background.png);
}
.box {

  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 1600px;
  height: 1600px;

  margin: 0 auto;
  margin-top: 40px;
  padding: 40px;

  background-color: #607d8b;

  border: 20px dashed #212121;
  border-radius: 10px;

  /* background-image: url(https://w7.pngwing.com/pngs/754/627/png-transparent-computer-icons-font-awesome-icon-design-localizacao-black-map-location-thumbnail.png),
    url(https://w7.pngwing.com/pngs/165/138/png-transparent-computer-icons-check-mark-checkbox-circle-mark-angle-text-share-icon.png),
    url(../images/unsplash.jpg);
  background-repeat: no-repeat;
  background-position: top right, bottom left;
  background-size: 300px 300px; */

  background-image: linear-gradient(to bottom, rgba(55, 59, 68, 0.8), rgba(55, 59, 68, 0.8)),
    url(../images/unsplash.jpg);
}

.inner-box {
  position: relative;

  padding: 10px;
  width: 350px;
  height: 350px;

  background-color: #212121;
  border-radius: 10px;

  color: azure;
  font-size: 30px;
  line-height: 1.5;

  box-shadow: 2.8px 2.8px 2.2px rgba(255, 255, 255, 0.02), 6.7px 6.7px 5.3px rgba(255, 255, 255, 0.028),
    12.5px 12.5px 10px rgba(255, 255, 255, 0.035), 22.3px 22.3px 17.9px rgba(255, 255, 255, 0.042),
    41.8px 41.8px 33.4px rgba(255, 255, 255, 0.05), 100px 100px 80px rgba(255, 255, 255, 0.07);
}

.inner-box::before {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%) rotate(-45deg);
  display: block;
  width: 100%;
  height: 100px;
  content: "";
  background-color: blueviolet;
}
.inner-box::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  content: "";
  background-color: tomato;
}

.inner-box:hover::after {
  background-color: white;
}
