.container {
  // width: 100%;
  max-width: 480px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;

  // outline: 1px solid red;

  @media screen and(min-width:768px) {
    max-width: 768px;
    // width: 768px;
    padding-left: 39px;
    padding-right: 39px;
  }

  @media screen and(min-width: 1200px) {
    max-width: 1200px;
    // width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
