/* Header */
.header {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: var(--primary-bg--mode-dark);

  @media screen and (min-width: 768px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  &__container {
    display: flex;
    align-items: center;

    @media screen and (max-width: 767px) {
      justify-content: space-between;
    }
  }

  &__link {
    @media screen and (min-width: 767px) {
      margin-right: 64px;
    }
    @media screen and (min-width: 1200px) {
      margin-right: 70px;
    }
  }

  &__logo {
    animation: bounce-top 0.9s both;
  }

  &__wrapper {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-left: auto;

    @media screen and (max-width: 767px) {
      display: none;
    }
    @media screen and (min-width: 1200px) {
      flex-direction: row;
    }
  }

  &__phone {
    flex-shrink: 0;

    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;

    color: var(--primary-txt--mode-dark);

    transition: color var(--anim-fast);

    &:hover,
    &:focus {
      color: var(--accent-cl);
    }

    @media screen and (min-width: 768px) and (max-width: 1200px) {
      margin-top: 20px;
    }

    @media screen and (min-width: 1200px) {
      margin-right: 40px;
    }
  }
}

.nav {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.nav__list {
  display: flex;
  align-items: center;
}

.nav__item {
  margin-right: 24px;

  @media screen and (min-width: 1200px) {
    margin-right: 40px;
  }

  &:last-child {
    margin: 0;
  }
}

.nav__link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;

  color: var(--primary-txt--mode-dark);

  transition: color var(--anim-fast);

  &:hover,
  &:focus {
    color: var(--accent-cl);
  }
}

// for mobile screns only
@media screen and (max-width: 767px) {
  .header {
    background-color: var(--primary-bg--mode-dark);
  }
}

// for tablets screns only
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .header {
    background-color: var(--primary-bg--mode-dark);
  }
}

// for tablets screns and wider
@media screen and (min-width: 768px) {
  .header {
    background-color: var(--primary-bg--mode-dark);
  }
}
// for desktop screns and wider
@media screen and (min-width: 1200px) {
  .header {
    background-color: var(--primary-bg--mode-dark);
  }
}
