.menu-btn {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 44px;
  height: 44px;

  background-color: transparent;
  border: transparent;
  outline: transparent;
  z-index: 99;

  @media screen and (min-width: 768px) {
    display: none;
  }

  &__icon {
    width: 44px;
    height: 44px;

    &-open {
      opacity: 1;
      fill: #ffffff;
    }

    &-close {
      opacity: 0;
    }
  }
}

.menu-btn.is-active .menu-btn__icon-open {
  opacity: 0;
}

.menu-btn.is-active .menu-btn__icon-close {
  opacity: 1;
}
