/* modal window */
.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  background-color: rgba(9, 11, 19, 0.6);
  opacity: 1;
  visibility: visible;
  pointer-events: initial;

  transition: opacity var(--anim-slow), visibility var(--anim-slow);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 500px;
  height: 400px;
  padding: 25px;

  border-radius: 15px;

  background-color: #fff;
}

.modal-btn {
  position: absolute;
  top: 10px;
  right: 10px;

  border-radius: 50%;

  cursor: pointer;
}
