// @mixin btn-size($fz, $max-w: 160px, $min-w: false ) {

//   max-width: $max-w;

//   min-width: $min-w;

//   font-size: $fz;
// }

@mixin btn-size($size) {
  @if $size == "small" {
    max-width: 160px;
    min-width: 120px;
    font-size: 12px;
  }

  @if $size == "medium" {
    max-width: 180px;
    min-width: 140px;
    font-size: 16px;
  }

  @if $size == "large" {
    max-width: 220px;
    min-width: 160px;
    font-size: 24px;
  }
}

@mixin fonts($fz, $lh: 1.67, $ls: 0.02em, $fw: null) {
  font-size: $fz;
  font-weight: $fw;
  line-height: $lh;
  letter-spacing: $ls;
}
